<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% include blocks/header.ejs %>
    <h1>News Id = <%= newsId %></h1>
    <p>Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha 
        vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha 
        vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta Kucha vsyakogo texta</p>
</body>
</html>